<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>

<script> 
$(document).ready(function() {
    $('table').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Polish.json",
            "paginate": {
                "previous": "&#9664;",
                "next": "&#9654;"
            },
            "info": "_START_ do _END_ z _TOTAL_ WYNIKÓW",
            "infoEmpty": " 0 - 0 z 0 "
        }, 
        "lengthMenu": [1, 2, 3],
        "pageLength": 3
    } );
} );
</script>
<div class="footer">
    <div class="logo">
        <a class="navbar-brand" href="/">
          <img class="logo__img__footer" src="/logo__long.png" alt="AdAstra Logo">
        </a>
      </div>
</div>
</body>
</html>
