*{
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  color: white;
}
:root {
  --primary-color: #12161F;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .header{
  margin-top: 2rem !important;
  margin-bottom: calc(50px + 6 * ((100vw - 320px) / 680));
  font-weight: bold;
  font-size: calc(45px + 6 * ((100vw - 320px) / 680));
  }
  .header__mini, .header__mini__switch, .form-check-input{
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
    }
    .bi {
      font-size: calc(35px + 6 * ((100vw - 320px) / 680));
      height: calc(30px + 6 * ((100vw - 320px) / 680));
      width: calc(30px + 6 * ((100vw - 320px) / 680));
    }
    .color-dropdown__option, .clouds-toggle, #clearsky, .moons-toggle, .fog{
      height: calc(30px + 6 * ((100vw - 320px) / 680));
      width: calc(30px + 6 * ((100vw - 320px) / 680));
    }
  .sorting{
      font-size: calc(25px + 6 * ((100vw - 320px) / 680));
    }
  .name{
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
  .dataTables_paginate, .paging_simple_numbers, .paginate_button, .next, .previous, .disabled, .page-item, .page-link{
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
  td{
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
  .details__header{
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
  .text__field{
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
  .small_img{
    width: 200px !important;
    height: auto !important;
  }
  .nav-link{
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
  }
  .form-label{
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
  }
  .form-control{
    font-size: calc(35px + 6 * ((100vw - 320px) / 680));
  }
  .default__button__submit{
    font-size: calc(35px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1300px)  {
  .header{
      font-weight:bold;
      font-size: calc(10px + 6 * ((100vw - 320px) / 680));
      }
      .header__mini{
        font-size: calc(5px + 6 * ((100vw - 320px) / 680));
        }
      .bi{
        font-size: calc(5px + 6 * ((100vw - 320px) / 680));
      }
      .sorting{
          font-size: calc(5px + 6 * ((100vw - 320px) / 680));
        }
      label{
        font-size: calc(5px + 6 * ((100vw - 320px) / 680));
      }
      .name{
        font-size: calc(3px + 6 * ((100vw - 320px) / 680));
      }
      .dataTables_info{
        font-size: calc(3px + 6 * ((100vw - 320px) / 680));
      }
      .dataTables_paginate, .paging_simple_numbers, .paginate_button, .next, .previous, .disabled, .page-item, .page-link{
        font-size: calc(3px + 6 * ((100vw - 320px) / 680));
      }
      td{
        font-size: calc(3px + 6 * ((100vw - 320px) / 680));
      }
      .details__header{
        font-size: calc(3px + 6 * ((100vw - 320px) / 680));
      }
      .text__field{
        font-size: calc(15px + 6 * ((100vw - 320px) / 680));     
      }
      .small_img{
        width: calc(80px + 6 * ((100vw - 320px) / 680)) !important;
        height: auto !important;
      }
      .form-label{
        font-size: calc(15px + 6 * ((100vw - 320px) / 680));     
      }
}

.overflow{
  overflow: hidden;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .header__mobile{
    display: block;
  }

  .header__xxl{
    display: none;
  }
}

@media (min-width: 1200px) {
  .header__mobile{
    display: none;
  }

  .header__xxl{
    display: block;
  }
}

.transparent{
  background: linear-gradient(to top,var(--primary-color), #000000);
}

.navbar-toggler{
  margin-right: 5vw;
}

.white{
  color: white;
}

.white:hover{
  color: goldenrod;
}

.navbar{
  width: 100%;
  height: 18vh;
  background: linear-gradient(to top,var(--primary-color), #000000);
}

.logo{
  margin-left: 5vw;
  height: 90%;
}

.logo__img{
  height: 100%;
}

.logo__img__footer{
  height: 60%;
}

@media (min-width: 300px) and (max-width: 1200px) {
  #star-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: auto;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }
}

@media (min-width: 1200px) {
  #star-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: auto;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  #star-form{
    width: 80%;
  }
}

@media (min-width: 1200px) {
  #star-form{
    width: 40%;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  .page__frame{
    width: 100vw;
    height: auto;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    flex-wrap:wrap;
    margin: 0px !important;
    padding: 0px !important;
    background-color: var(--primary-color);
  }
}

@media (min-width: 1200px) {
  .page__frame{
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0px !important;
    padding: 0px !important;
    background-color: var(--primary-color);
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  .page__frame__add{
    width: 100%;
    height: 73vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to top,var(--primary-color), #000000);
  }
}

@media (min-width: 1200px) {
  .page__frame__add{
    width: 100%;
    height: 73vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to top,var(--primary-color), #000000);
  }
}


@media (min-width: 300px) and (max-width: 1200px) {
  .container__list{
    display: flex;
    height: auto;
    background: var(--primary-color);
    width: 100%;
    padding: 0px !important;
    margin-left: 5vw;
  }
}

@media (min-width: 1200px) {
  .container__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    height: 73vh;
    background: var(--primary-color);
    width: 32%;
    margin-left: 5vw;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  .right__content{
    display: flex;
    width: 100%;
    height: auto;
    min-height: 73vh;
    background-color:var(--primary-color);
    margin: 0px !important;
    padding: 0px !important;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .right__content{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 68%;
    height: auto;
    min-height: 73vh;
    background-color:var(--primary-color);
    flex-wrap: nowrap;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {

  .container__sky{
    display: flex;
    justify-content: center;
    justify-items: center;
    width:100%;
    margin-left: 5vw;
    padding: 0px !important;
  }
}

@media (min-width: 1200px) {

  .container__sky{
    display: flex;
    justify-content: center;
    justify-items: center;
    width:100%;
    margin: 0px !important;
    padding: 0px !important;
  }
}

.star {
  position: absolute;
  background-size: contain;
  background-color: rgba(255, 255, 255, 255); 
  border-radius: 50%;  
  z-index: 1003;
}

.star.blink {
  position: absolute;
  background-size: contain;
  background-color: goldenrod; 
  border-radius: 50%; 
}

.star:hover{
  background-color: goldenrod; 
}

.star:hover .name{
  position: absolute;
  background-size: contain;
  border-radius: 50%;  
  display: block;
}

.name{
  margin-left: 3vh;
  display: none;
  background-color: transparent !important;
}


.footer{
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 9vh;
  background: linear-gradient(to bottom, var(--primary-color), #000000);
  overflow: hidden;
  margin: 0px !important;
  padding: 0px !important;
}

.collapse{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.smaller{
  font-size: 0.7rem !important;
}

.navbar-brand{
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.small_img{
  height: 35px;
  width: auto;
  border: none;
  background-color: none;
}

label{
  margin-right: 1rem;
}

.form-select, .form-control-sm{
  height: 2rem;
  width: 10px;
  max-width: 110px;
  background-color: inherit;
  border: none;
}

.form-select:focus, .form-control-sm:focus, .form-select-sm:focus{
  height: 2rem;
  width: 10px;
  background-color: inherit;
  color: white;
  border: none;
}

option {
  background-color: #12161F;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .header{
    width: 100%;
    height: auto;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .header{
    width: 100%;
    height: auto;
    padding: 0px !important;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  .header__mini{
    width: 100%;
    height: auto;
    margin-right: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .header__mini{
    height: auto;
    margin-right: 0.5rem;
  }
}

.header__mini__switch{
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 0.5rem;
  align-items: center;
  align-content: center;
}

.bi{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .table{
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
  }
}

@media (min-width: 1200px) {
  .table{
    display: flex;
    flex-wrap: nowrap;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
  }
}

.dataTable, .no-footer{
  display: flex;
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.dataTables_length{
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.dataTables_filter{
  overflow: hidden;
}

.dataTables_info{
  margin-right: 1rem;
  width: 100%;
  margin-top: 0px;
}

thead{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

tbody{
  width: 100%;
}

.pagination{
  display: flex;
  justify-content: end;
  justify-items: end;
  align-content: center;
  align-items: center;
  height: 2rem;
  width: auto;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .row, .dt-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row, .dt-row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    justify-items: flex-start;
    width: 100%;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  .col-md-6{
    display: flex;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-md-6{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  .dataTables_wrapper, .dt-bootstrap5, .no-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    justify-items: start;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }
}

@media (min-width: 1200px) {
  .dataTables_wrapper, .dt-bootstrap5, .no-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    justify-items: start;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }
}


.paginate_button, .dataTables_paginate, .paging_simple_numbers, .paginate_button, .next, .previous, .disabled, .page-item, .page-link{
  background-color: inherit !important;
  color: white;
}

.dataTables_paginate, .paging_simple_numbers, .paginate_button, .next, .previous, .disabled, .page-item, .page-link{
  display: flex;
  height: auto;
  color: white;
  background-color: var(--primary-color);
}

#flexSwitchCheckDefault{
  background-color: var(--primary-color);
  border: 1px solid white;
}
.color-buttons button.active {
  border: 2px solid #fff;
}

.color-buttons{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  height: auto;
}


@media (min-width: 300px) and (max-width: 1200px) {
  .color-buttons__weather{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center !important;
    align-items: center !important;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    height: auto;
    text-align: top;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .color-buttons__weather{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center !important;
    align-items: center !important;
    margin-top: 0.2rem;
    height: auto;
    text-align: top;
    width: 100%;
  }
}

.color-buttons__weather button.active {
  border: 2px solid #fff;
}
.fas{
  color: white;
}

html{height:100%;}
body {
background:black;
overflow-x: hidden;
;}


.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
  
  overflow:hidden;
	width:1px;
	height:19px; 
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;

  
}
.dropsnow {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0) 10%);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.8);
  width: 5px;
  height: 5px; 
  border-radius: 50%;
  position: absolute;
  animation: fall 3s linear infinite;
  -moz-animation: fall .9s linear infinite;
  will-change: transform;
  overflow: hidden;
}
.dropsnow.hidden,
.drop.hidden {
  visibility: hidden;
}
.snow {
  position: relative;
  overflow: hidden;
  height: auto;
}
/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}

.color-dropdown__option{
  border-radius: 2%;
  margin: 0.3rem;
}
.clouds-toggle{
  border-radius: 2%;
  margin: 0.3rem;
}
.moons-toggle{
  border-radius: 2%;
  margin: 0.3rem;
}
.fog{
  border-radius: 2%;
  margin: 0.3rem;
}
.weather{
  background-color: transparent;
  border: none !important;
}

.clouds{
  position: absolute;
  width: auto;
  height: 73vh;
  opacity: 30%;
  z-index: 1001;
  display:none;
  overflow: hidden;
}

.clouds.active{
  display: block;
  width: auto;
  overflow: hidden;
}

.moon{
  position: absolute;
  width: 100%;
  opacity: 70%;
  z-index: 1001;
  display:none;
}

.moon.active{
  display: block;
}

.bi{
  margin-right: 0.5rem !important;
  padding: 0px !important;
}

.last{
  margin-right: 0.8rem;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .dt-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }
}

@media (min-width: 1200px) {
  .dt-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    width: 80%;
    margin: 0px !important;
    padding: 0px !important;
  }
}

thead{
  display: none;
  width: 100%;
}

.row{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  justify-items: start;
  margin: 0px !important;
  padding: 0px !important;
}

.details{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-items: center;
}

.details__header{
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10%;

}

.details__frame{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.image__section{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.details__image{
  width: 100%;
  height: auto;
}

.text__section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content:flex-start;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
}

.text__main{
  height: 80%;
  width: 100%;
}

.text__field{
  text-align: start;
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.button__section{
  justify-content: center;
  align-content: center;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 10%;
}

.pagination{
  height: 100%;
  margin: 0px !important;
}

.padding__frame{
  width: 80%;
  height:100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.default__button, .back__button{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 22%;
  height: 80%;
  font-size: 0.6rem;
  border: 1px solid white;
  background-color: inherit;
  border-radius: 10%;
  margin: 2%;
  text-decoration: none;
}

.default__button__submit{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 22%;
  height: auto;
  border: 1px solid white;
  background-color: inherit;
  border-radius: 10%;
  margin: 5%;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

.add__star{
  background-color: inherit;
}

.form-group{
  background-color: inherit;
  color: white;
}

.button__pad{
  display: flex;
  justify-content: center;
  align-content: center;
}

.fog-img {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 300vw;
  z-index: 1;
  opacity: 0%;
  pointer-events: none;
  filter: blur(5px);
  overflow-x: hidden !important;
}

.fog-img-first {
  background: url("https://github.com/WebDevSHORTS/Fog-Overlay-Animation/blob/master/img/fog-1.png?raw=true");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
  overflow-x: hidden !important;
}

.fog-img-second {
  background: url("https://github.com/WebDevSHORTS/Fog-Overlay-Animation/blob/master/img/fog-2.png?raw=true");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 30s linear infinite;
  overflow-x: hidden !important;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

.moon{
  margin-left: 5%;
  margin-top: 5%;
  width: 60px;
  height: 60px;
  filter: brightness(1.5);
}

@media (min-width: 300px) and (max-width: 1200px) {
  .form-switch, .form-check{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: auto;
    margin-left: 5vw;
  }
}

@media (min-width: 1200px) {
  .form-switch, .form-check{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: auto;
    margin-left: 0.2rem;
  }
}

#stars-table{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: flex-start;
  width: 100%;
  margin-top: 0.5rem;
  margin-left: -0.8rem !important;
}

.form-check-input{
  display: table-cell;
  vertical-align:middle !important;
  margin: 0px;
}

td{
  display: table-cell;
  width: 33% !important;
  vertical-align:middle !important;

}

.record{
  display: table-cell;
  vertical-align:middle !important;
}



